.enhancementItem {
	margin-top: 50px;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	cursor: pointer;
	padding: 1.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	min-width: 280px;
	&__logo {
		height: 150px;
	}
	p {
		font-size: 24px;
		line-height: 140.8%;
		font-family: "Jost-600";
		margin-top: 1rem;
		margin-bottom: 0px;
		margin-left: -15px;
		letter-spacing: 0.01em;
		text-transform: uppercase;

		color: #ffffff;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 2px;
		background: linear-gradient(
				43.6deg,
				rgba(255, 255, 255, 0) 66.31%,
				rgba(48, 46, 147, 0.6) 87.28%
			),
			linear-gradient(
				34.37deg,
				rgba(123, 21, 171, 0.6) 22.87%,
				rgba(255, 255, 255, 0) 38.98%
			);
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);

		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
		transform: skewX(-5deg);
		border-radius: 26.5028px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		background: radial-gradient(
			38.02% 59.13% at 44.12% 109.62%,
			rgba(202, 41, 242, 0.5) 0.52%,
			rgba(0, 0, 0, 0.5) 100%
		);
		box-shadow: 0px 7.33923px 12.8437px #000000,
			inset -13.2514px 18.5519px 67.5821px #1e2058,
			inset 0px -7.95083px 31.8033px rgba(149, 147, 255, 0.3);
		border-radius: 26.5028px;
		transform: skew(-5deg);
	}
	&__subtract {
		position: absolute;
		top: 5px;
		right: -5px;
		z-index: 1;
	}
}
.tooltip-arrow {
	display: none !important;
}
.tooltip-inner {
	position: relative;
	// background-color: transparent !important;
	border-radius: 0px !important;
	z-index: 999;
	color: white;
	font-size: 16px;
	line-height: 162.8%;
	font-family: "Jost-600";
	padding: 1rem !important;
	letter-spacing: 0.01em;
	max-width: 250px !important;
	color: #ffffff;
	text-align: left !important;
	border-radius: 12px !important;
	&::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 2px;
		background: linear-gradient(
				58.44deg,
				rgba(255, 255, 255, 0) 47.59%,
				rgba(48, 46, 147, 0.6) 60.84%
			),
			linear-gradient(
				113.42deg,
				rgba(48, 46, 147, 0.5) 4.02%,
				rgba(0, 0, 0, 0) 10.26%
			);
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);

		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
		border-radius: 12px;
	}
	&::before {
		z-index: -1;
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: radial-gradient(
			24.76% 64.91% at 56.33% 74.94%,
			rgba(20, 18, 74, 0.5) 0.52%,
			rgba(0, 0, 0, 0.5) 100%
		);
		box-shadow: inset -10px 14px 51px #1e2058,
			inset 0px -6px 24px rgba(149, 147, 255, 0.3);
		backdrop-filter: blur(50px);
		/* Note: backdrop-filter has minimal browser support */

		border-radius: 12px;
	}
}
