.enhancement {
	margin-left: 8rem;
	margin-right: 8rem;
	position: relative;
	text-align: center;
	p {
		font-size: 22.98px;
		line-height: 140.8%;
		font-family: "Jost-600";

		letter-spacing: 0.01em;
		text-transform: uppercase;

		color: #8f68ff;
	}
	h6 {
		width: 600px;
		display: inline-block;
		font-size: 17px;
		line-height: 162.8%;
		font-family: "Jost-500";

		text-align: center;
		letter-spacing: 0.01em;

		color: #ffffff;
	}
}
