.filterContainer {
	margin-top: 3rem;
	margin-left: 4rem;
	margin-right: 4rem;
	display: flex;
	&__searchBox {
		width: 100%;
		position: relative;
		margin-right: 50px;
		img {
			position: absolute;
			right: 30px;
			top: 20px;
		}
	}
	.form-control {
		background: radial-gradient(
			43.47% 78.85% at 50.44% 146.15%,
			rgba(38, 35, 131, 0.5) 0.52%,
			rgba(0, 0, 0, 0.5) 100%
		);
		box-shadow: inset -10px 14px 51px -12px rgba(51, 54, 141, 0.6),
			inset 0px -6px 24px -7px rgba(149, 147, 255, 0.37);
		border-radius: 20px;
		border: none;
		padding: 14px 40px;
		font-size: 21px;
		line-height: 140.8%;
		font-family: "Jost-300";
		letter-spacing: 0.01em;
		text-transform: capitalize;
		color: #ffffff;
		&:focus {
			background: radial-gradient(
				43.47% 78.85% at 50.44% 146.15%,
				rgba(38, 35, 131, 0.5) 0.52%,
				rgba(0, 0, 0, 0.5) 100%
			);
			box-shadow: inset -10px 14px 51px -12px rgba(51, 54, 141, 0.6),
				inset 0px -6px 24px -7px rgba(149, 147, 255, 0.37);
			color: white;
		}
	}
	&__btnBox {
		display: flex;
	}

	&__btn {
		background: radial-gradient(
				43.47% 78.85% at 50.44% 146.15%,
				rgba(255, 255, 255, 0.3) 0.52%,
				rgba(0, 0, 0, 0.3) 100%
			),
			rgba(0, 0, 0, 0.8) !important;
		box-shadow: inset 0px -2.82px 14.3px rgba(255, 255, 255, 0.2);
		background-color: #000;
		padding: 16px 48px;
		line-height: 140.8%;
		font-family: "Jost-600";
		letter-spacing: 0.01em;
		text-transform: uppercase;
		position: relative;
		box-sizing: border-box;
		color: #ffffff;
		border-radius: 1em;
		border: none;
		&:hover {
			background: radial-gradient(
					43.47% 78.85% at 50.44% 146.15%,
					rgba(255, 255, 255, 0.3) 0.52%,
					rgba(0, 0, 0, 0.3) 100%
				),
				rgba(0, 0, 0, 0.8);
			box-shadow: inset -10px 4px 31px #3b1f8b, inset 10px 4px 31px #00195a,
				inset 0px -2.82px 14.3px rgba(255, 255, 255, 0.2);
			border-radius: 11.374px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 1em;
			padding: 2px;
			background: linear-gradient(48deg, rgba(0, 0, 0, 0) 66%, #5627db 91.85%),
				linear-gradient(145.02deg, #1447c9 5.29%, rgba(0, 0, 0, 0) 38.1%);
			-webkit-mask: linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
		}
	}
}
